@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Colors */
:root {
  --black: #0A0A0A;
  --white: #FFFFFF;
  --shopify-green: #95BF47;
  --gray-light: #F5F5F5;
  --gray-medium: #A0A0A0;
  --gray-dark: #333333;
}

/* Body Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  color: var(--white);
}